
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    
}
.container{
    display: flex;
    width: 90vw;
}

.panel{
    height: 80vh;
    border-radius: 50px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0.5;
    cursor: pointer;
    color: white;
    position: relative;
    transition: flex 0.7s ease-in;margin: 10px;
}
.panel h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
}

@media (max-width: 480px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}